// Spawn processes at niri startup.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup
spawn-sh-at-startup "udiskie"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "waybar -c /home/luiza/.config/waybar/config.jsonc -s /home/luiza/.config/waybar/style.css"
spawn-sh-at-startup "dunst -conf /home/luiza/niri-setup/dunst/dunstrc"
spawn-sh-at-startup "pkill swayidle; echo '10 minutes' > /tmp/idle-time; /home/luiza/niri-setup/scripts/swayidle.sh"
